{% if paginator.totalItems(paginatorId) > paginator.itemsPerPage(paginatorId) %}
	{% if paginator.currentPage(paginatorId) < paginator.lastPage(paginatorId) %}
		<{{tag}}><a href="{{ path(routeName, {'page': paginator.nextPage(paginatorId), 'paginatorId': paginatorId}) }}">{{title}}</a></{{tag}}> 
	{% else %}
		<{{tag}} class="{{disabledClass}}">{{disabledTitle}}</{{tag}}>
	{% endif %}
{% endif %}