<ul id="paginate_elements">
  {% if paginator.currentPage(id) > 1 %}
    <li><a href="{{ path(route, {'page': paginator.previousPage(id), 'paginatorId': id}) }}">previous</a></li>
  {% else %}
    <li class="left_disabled"><a href="#">previous</a></li>
  {% endif %}

  {% for page in paginator.minPageInRange(id)..paginator.maxPageInRange(id) %}
    {% if page == paginator.currentPage(id) %}
      <li><a class="current" href="#">{{ page }}</a></li>
    {% else %}
      <li><a href="{{ path(route, {'page': page, 'paginatorId': id}) }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.currentPage(id) < paginator.lastPage(id) %}
    <li class="right"><a href="{{ path(route, {'page': paginator.nextPage(id), 'paginatorId': id}) }}">next</a></li>
  {% else %}
    <li class="right_disabled">next</li>
  {% endif %}
</ul>